@page
@model EasyAbp.EasyComment.Pages.Comments

<div style="width: 600px;">
    <h3>Comments</h3>
    @await Component.InvokeAsync("CommentWidget", new
    {
        ItemType = "TestItemType",
        ItemKey = "TestItemKey"
    })
</div>


