@page
@using EasyAbp.EasyComment.Web.Pages.Shared.Components.CommentsWidget
@model EasyAbp.EasyComment.Pages.Comments

<div style="width: 600px;">
    <h3>Comments</h3>
    @await Component.InvokeAsync("CommentsWidget", new CommentsWidgetParameter
    {
        ItemType = "TestItemType",
        ItemKey = "TestItemKey",
        SkipCount = 0,
        MaxResultCount = 20,
    })
</div>
