@page
@using EasyAbp.EasyComment.Web.Pages.Shared.Components.CommentsZoneWidget
@model EasyAbp.EasyComment.Pages.Comments

<div style="width: 600px;">
    <h3>Comments</h3>
    @await Component.InvokeAsync("CommentsZoneWidget", new CommentsZoneWidgetParameter{
        ItemType = "TestItemType",
        ItemKey = "TestItemKey",
        Sorting = String.Empty, 
        MaxResultCount = 20
        })
</div>
