@using EasyAbp.EasyComment.Comments.Dtos
@using EasyAbp.EasyComment.Localization
@using EasyAbp.EasyComment.Web.Pages.Shared.Components.CommentWidget
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.Users
@model EasyAbp.EasyComment.Web.Pages.Shared.Components.CommentsListWidget.CommentsListWidgetViewModel
@inject IHtmlLocalizer<EasyCommentResource> L
@inject ICurrentUser CurrentUser
@inject IAuthorizationService Authorization

<abp-container class="ec-comments-list" >
@foreach (CommentDto comment in Model.Comments)
{
    <div class="ec-comment-holder">
        @await Component.InvokeAsync("CommentWidget", new CommentWidgetParameter(comment))
    </div>
}
@if (Model.HasMore)
{
    <abp-button class="ec-button-load-more" button-type="Link" size="Block_Small" text="@L["LoadMoreComments"].Value" data-loaded-count="@Model.LoadedCount"></abp-button>
}
 </abp-container>
