@using EasyAbp.EasyComment.Localization
@using EasyAbp.EasyComment.Web.Pages.Shared.Components.CommentEditorWidget
@using EasyAbp.EasyComment.Web.Pages.Shared.Components.CommentsListWidget
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.Users
@model EasyAbp.EasyComment.Web.Pages.Shared.Components.CommentsZoneWidget.CommentsZoneWidgetViewModel
@inject IHtmlLocalizer<EasyCommentResource> L
@inject ICurrentUser CurrentUser
@inject IAuthorizationService Authorization

<abp-container class="ec-comments-zone" data-item-type="@Model.ItemType" data-item-key="@Model.ItemKey">
    <abp-row>
        <i class="fa fa-comments"> @L["TotalComments", Model.TotalCount]</i>
    </abp-row>

    @await Component.InvokeAsync("CommentsListWidget", new CommentsListWidgetParameter(
        Model.ItemType,
        Model.ItemKey,
        Model.Sorting,
        0,
        0,
        Model.MaxResultCount
    ))

    @if (CurrentUser.IsAuthenticated)
    {
        <div class="ec-comment-holder">
            @await Component.InvokeAsync("CommentEditorWidget", new CommentEditorWidgetParameter {Label = L["LeaveComment"].Value,})
        </div>
    }
</abp-container>