@page
@using Microsoft.Extensions.Localization
@using EasyAbp.EasyComment.Localization
@model EasyAbp.EasyComment.Web.Pages.EasyComment.IndexModel
@inject IStringLocalizer<EasyCommentResource> L
@{
}
<h1>EasyComment</h1>
<p>@L["SamplePageMessage"]</p>
