div.ec-comments {
    margin: 10px;
}

.ec-comment {
    margin: 10px;
}

.ec-comment-link {
    margin-right: 5px;
}

.ec-creator {
    font-weight: bold;
}

.ec-content {
    line-break: anywhere;
    white-space: pre-wrap;
}

.ec-comment-time {
    color: gray;
    margin-left: 5px;
}

.ec-leave-comment {
    margin-top: 20px;
    font-size: medium;
}

.ec-textarea-new-comment {
    width:100%;
}

/*Remove the arrow of dropdowns */
.dropdown-toggle::after {
    border: none;
    content: none;
}

.ec-button-new-comment {
    margin-bottom: 20px;
    float: right;
}