div.ec-comments {
    margin: 10px;
}

.ec-comment {
    margin: 10px;
}

.ec-comment-link {
    margin-right: 5px;
}

.ec-creator {
    font-weight: bold;
}

.ec-content {
    line-break: anywhere;
}

.ec-comment-time {
    color: gray;
    margin-left: 5px;
}

.ec-leave-comment {
    margin-top: 20px;
    font-size: medium;
}

.ec-textarea-new-comment {
    width:100%;
}